.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    // no need to define rows. Default is auto. Would be same if not commented out.
    // grid-template-rows: auto auto;

    // this is not responsive
    // grid-template-columns: repeat(3, 1fr);

    // this is responsive
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    grid-gap: 6rem;
    // ensure all feature items text starts at the top (default is stretch)
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    // again, no need to define rows here
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        // to change color of a svg icon, we use 'fill'
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;

        // want icon to have all of left column (row 1 and 2)
        // grid-row: 1 / -1;
        // GOTCHA!!: -1 only works with explicit grids. The rows here are implicit
        // So we use span (starts at line 1 and spans 2 grid lines
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}
